<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{myTitle}}</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
        media="screen" title="no title" charset="utf-8"> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
</head>

<body>
    <div id="container">
        <div id="buttons">
            <div id='button'>Invitation</div>
        </div>
    </div>

    <div id="mobile-message">
        <p>This project is not optimised for mobile. Please visit this link on your desktop.</p>
    </div>
</body>

</html>